<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='../js/vue.js'></script>
	<script>
		window.onload=function () {
			/* body... */
			var c=new Vue({
				el:'.box',     // 选择器
				data:{
					msg:'welcome vue',
					arr:['apple','pair','banana']
				}
			});   
		}

	</script>
</head>
<body>
	<div class="box">
		<input type="text" v-model="msg">
		<input type="text" v-model="msg">
		<br />
		{{msg}}
		<br />
		{{arr}}
		<ul>
			<li v-for="value in arr">{{value}}</li>
		</ul>
	</div>
</body>
</html>